.app {
  background-color: #e4e5e6;
  color: #00416a;
  min-height: 100vh;
  width: 100%;
}

.header {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e4e5e6;
  background: rgb(0, 65, 106);
  background: linear-gradient(
    90deg,
    rgba(0, 65, 106, 1) 0%,
    rgba(0, 65, 106, 0.6) 100%
  );
}
@media (min-width: 768px) {
  .header {
    height: 300px;
  }
}

.name {
  margin: 0px;
  letter-spacing: 10px;
  font-size: 6.4rem;
}
.title {
  margin: 10px 0;
  letter-spacing: 1.5px;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .title {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

.icon {
  position: absolute;
  opacity: 0.08;
  background: rgb(0, 65, 106);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 9.6rem;
}
.main {
  width: 95%;
  font-size: 1.6rem;
  margin: auto;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .main {
    width: 85%;
  }
}
@media (min-width: 1550px) {
  .main {
    width: 70%;
  }
}
.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.section {
  margin-top: 10px;
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: "OpenSans-Regular";
}
@media (min-width: 768px) {
  .section {
    margin-top: 50px;
  }
}
.sectionTitle {
  margin: 0px 0 8px;
  font-size: 2.1rem;
  letter-spacing: 2px;
  font-family: "OpenSans-Bold", sans-serif;
}

@media (min-width: 768px) {
  .sectionTitle {
    font-size: 3rem;
    margin: 0px 0 15px;
  }
}
.col1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
}
@media (min-width: 768px) {
  .col1 {
    width: 33%;
    order: 1;
  }
}
.contactInfo {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .contactInfo {
    flex-direction: row;
    padding: 17px 0;
  }
}

.contactInfoRow {
  display: flex;
  align-items: center;
  padding: 10px 0px 0;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .contactInfoRow {
    padding: 10px 10px 0;
  }
}

.contactInfoText {
  margin-left: 10px;
  font-size: 1.5rem;
  color: rgb(0, 65, 106);
  font-family: "OpenSans-Regular";
  letter-spacing: 0px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .contactInfoText {
    margin-left: 3px;
  }
}

.eduLine1 {
  font-size: 2rem;
  font-family: "OpenSans-Bold";
}
.eduLine2 {
  font-size: 1.7rem;
  font-family: "OpenSans-Regular";
}
.eduLine3 {
  font-size: 1.6rem;
  font-family: "OpenSans-Regular";
  color: #3c6c8b;
}
.eduLine4 {
  font-size: 1.7rem;
  font-family: "OpenSans-Bold";
  font-style: italic;
}
.col2 {
  width: 100%;
  order: 1;
}
@media (min-width: 768px) {
  .col2 {
    width: 67%;
    order: 2;
  }
}
.skill {
  padding: 0 15px 0px 0;
  width: 100%;
  font-size: 1.5rem;
}

.skillsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.experienceWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.years {
  width: 22%;
  padding-right: 20px;
  position: relative;
}
.yearsText {
  padding: 5px;
  background: rgb(0, 65, 106);
  color: #e4e5e6;
  border-radius: 6px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 1050px) {
  .yearsText {
    font-size: 1.2rem;
  }
}
@media (min-width: 1350px) {
  .yearsText {
    font-size: 2rem;
  }
}
.jobDescription {
  width: 75%;
  border-left: 3px solid;
  padding-left: 20px;
}
.position {
  font-size: 2rem;
  font-family: "OpenSans-Bold";
  margin-top: 0px;
}
@media (min-width: 768px) {
  .position {
    margin-top: -4px;
  }
}
.company {
  font-size: 1.7rem;
  font-family: "OpenSans-Regular";
}
.location {
  font-size: 1.6rem;
  font-family: "OpenSans-Regular";
  color: #3c6c8b;
}
.jobDetails {
  margin-top: 5px;
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.circle {
  width: 11px;
  height: 11px;
  border: 3px solid rgb(0, 65, 106);
  background: #e4e5e6;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -10px;
}

.expirienceSubTitle {
  font-size: 1.6rem;
  font-family: "OpenSans-Bold";
}
.project {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.7rem;
  margin-bottom: 30px;
}
.project:last-child {
  margin-bottom: 0px;
}
.projectLink {
  margin: 1px 0 8px;
  color: rgb(0, 65, 106);
}
.projectTitle {
  font-size: 2rem;
  font-family: "OpenSans-Bold";
  display: flex;
  align-items: center;
}
.pinskysPalletsImage,
.cingulantImage {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.gitShabisImage {
  width: 100px;
  height: 100px;
  margin-left: -12px;
}
.lang {
  font-size: 1.7rem;
}

@media print {
  .col1 {
    width: 33%;
    order: 1;
  }
  .col2 {
    width: 67%;
    order: 2;
  }
  .contactInfo {
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
  }
  .pinskysPalletsImage,
  .cingulantImage {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-bottom: 5px;
  }
  .gitShabisImage {
    width: 70px;
    height: 70px;
    margin-left: -12px;
  }
  .projectTitle {
    font-size: 1.6rem;
  }
  .project {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .jobDetails {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .position {
    font-size: 1.7rem;
  }
  .expirienceSubTitle {
    font-size: 1.4rem;
  }
  .company {
    font-size: 1.5rem;
  }
  .location {
    font-size: 1.4rem;
  }
  .sectionTitle {
    font-size: 1.5rem;
  }
  .header {
    height: 175px;
  }
  .icon {
    width: 150px;
    height: 150px;
    font-size: 7rem;
  }
  .yearsText {
    font-size: 1.3rem;
  }
  .section {
    margin-top: 30px;
  }
  .skill {
    font-size: 0.9rem;
  }
  .lang {
    font-size: 1.3rem;
  }

  .eduLine1 {
    font-size: 1.7rem;
  }
  .eduLine2 {
    font-size: 1.4rem;
  }
  .eduLine3 {
    font-size: 1.3rem;
  }
  .eduLine4 {
    font-size: 1.4rem;
  }
}
