.app {
  background-color: #e4e5e6;
  color: #00416a;
  min-height: 100vh;
  width: 100%;
}

.header {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e4e5e6;
  background: rgb(0, 65, 106);
  background: linear-gradient(
    90deg,
    rgba(0, 65, 106, 1) 0%,
    rgba(0, 65, 106, 0.6) 100%
  );
}
@media (min-width: 768px) {
  .header {
    height: 300px;
  }
}

.name {
  margin: 0px;
  letter-spacing: 10px;
  font-size: 6.4rem;
}
.title {
  margin: 10px 0;
  letter-spacing: 1.5px;
  font-size: 2rem;
}
@media (min-width: 501px) {
  .title {
    letter-spacing: 3px;
  }
}

.icon {
  position: absolute;
  opacity: 0.08;
  background: rgb(0, 65, 106);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 9.6rem;
}
.main {
  width: 95%;
  font-size: 1.6rem;
  margin: auto;
  padding-bottom: 10px;
}
.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .main {
    width: 85%;
  }
}
@media (min-width: 1550px) {
  .main {
    width: 70%;
  }
}
.section {
  margin-top: 10px;
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: "OpenSans-Regular";
}
@media (min-width: 501px) {
  .section {
    margin-top: 50px;
  }
}
.sectionTitle {
  margin: 0px 0 8px;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: "OpenSans-Bold", sans-serif;
}
@media (min-width: 501px) {
  .sectionTitle {
    margin: 0px 0 15px;
  }
}
.col1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
}
@media (min-width: 501px) {
  .col1 {
    width: 33%;
    order: 1;
  }
}
.contactInfo {
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 10px;
}
@media (min-width: 501px) {
  .contactInfo {
    flex-direction: row;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .contactInfo {
    justify-content: center;
  }
}

.contactInfoRow {
  display: flex;
  align-items: center;
  padding: 10px 0 0;
  font-size: 3.5rem;
}
@media (min-width: 501px) {
  .contactInfoRow {
    padding: 0 20px;
    font-size: 2rem;
  }
}

.contactInfoText {
  margin-left: 10px;
  font-size: 2.5rem;
  color: rgb(0, 65, 106);
  font-family: "OpenSans-Regular";
  letter-spacing: 1px;
  text-decoration: none;
}
@media (min-width: 501px) {
  .contactInfoText {
    margin-left: 4px;
    font-size: 1.4rem;
    letter-spacing: 0;
  }
}
@media (min-width: 768px) {
  .contactInfoText {
    font-size: 1.5rem;
  }
}
.eduLine1 {
  font-size: 2rem;
  font-family: "OpenSans-Bold";
}
.eduLine2 {
  font-size: 1.7rem;
  font-family: "OpenSans-Regular";
}
.eduLine3 {
  font-size: 1.6rem;
  font-family: "OpenSans-Regular";
  color: #3c6c8b;
}
.eduLine4 {
  font-size: 1.7rem;
  font-family: "OpenSans-Bold";
  font-style: italic;
}
.col2 {
  width: 100%;
  order: 1;
}
@media (min-width: 501px) {
  .col2 {
    width: 67%;
    order: 2;
  }
}
.skill {
  padding: 0 15px 0px 0;
  width: 100%;
  font-size: 1.5rem;
}

.skillsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.experienceWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.years {
  width: 22%;
  padding-right: 20px;
  position: relative;
}
.yearsText {
  padding: 5px;
  background: rgb(0, 65, 106);
  color: #e4e5e6;
  border-radius: 6px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 1050px) {
  .yearsText {
    font-size: 1.2rem;
  }
}
@media (min-width: 1350px) {
  .yearsText {
    font-size: 2rem;
  }
}
.jobDescription {
  width: 75%;
  border-left: 3px solid;
  padding-left: 20px;
}
.position {
  font-size: 2rem;
  font-family: "OpenSans-Bold";
  margin-top: 0px;
}
@media (min-width: 768px) {
  .position {
    margin-top: -4px;
  }
}
.company {
  font-size: 1.7rem;
  font-family: "OpenSans-Regular";
}
.location {
  font-size: 1.6rem;
  font-family: "OpenSans-Regular";
  color: #3c6c8b;
}
.jobDetails {
  margin-top: 5px;
  font-size: 1.6rem;
}
.circle {
  width: 11px;
  height: 11px;
  border: 3px solid rgb(0, 65, 106);
  background: #e4e5e6;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -10px;
}

.expirienceSubTitle {
  font-size: 1.6rem;
  font-family: "OpenSans-Bold";
}
